@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root{


    --primaryColor: #806550;

    --lightGreen:#5fbaa7;
}


*{

    margin:0;

    padding: 0;

    box-sizing: border-box;


}

body{
   
    font-family: 'Nunito', sans-serif;
    height: 100vh;
 width: 100vw;
 position: absolute;
 top: 0;
left: 0;
background: #225470;

z-index: 1;
opacity: 0.75;



}



.mainArea{

    display: grid;

    text-align: center;
   grid-template-columns: minmax(100px, auto);

    align-items: center;

    justify-content:center;

    height:  vh;

    padding: 1.5rem;

    margin: 12% auto;

    max-width: 900px;

    padding: 50px  0;

}




h1{

    margin-right: 15%;
    color:  var(--primaryColor);
}


p{

    margin-right: 15%;
   text-indent: 5rem;  text-transform: capitalize;
}


h3{

    color:  var(--primaryColor);

    font-size: 12px;
}

.btn{

    color: #f0ad4e;

    background-color:  var(--primaryColor);

    outline: none;

    border-radius: 6px;

    cursor:pointer;

    font-size:15px;

    padding: 5px 12px;
}




.btn:hover{

    color: #f0ad4e;
 
    outline: none;

    border-radius: 6px;

    cursor:pointer;

    font-size:15px;

    padding: 5px 12px;
}






.btn-outline{

    color: #f0ad4e;

    border: 2px solid var(--lightGreen);

    outline: none;

    border-radius: 6px;

    cursor:pointer;

    font-size:15px;

    padding: 5px 12px;
}




.btn-outline:hover{

    color: #fff;

    background-color: var(--lightGreen);
    outline: none;

    border-radius: 6px;

    cursor:pointer;

    font-size:15px;

    padding: 5px 12px;
}



.money-img{


    width: 200px;

   margin-left: 30%;
}


.swap-rate-container{

    margin-bottom: 0.5rem;
   
}

button{

    margin:0.4rem;
}

#logo{

    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}


.container{


    display: grid;

    grid-template-columns: repeat(3, 1fr);

 
    align-items: center;

    justify-content: space-between;

    padding: 40px 0;
    

}


.f-one select{

padding: 10px 20px 10px 10px;


border-radius: 15px;
outline: none;
-moz-appearance: none;
-webkit-appearance:none;
appearance: none;

background-color: var(--lightGreen);
border: 1px solid #f9f9f9;

font-size: 16px;
background-image:  url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
background-position: right 10px top 50%, 0, 0;;
background-position: right 10px top 50%, 0,  0;
background-size: 12px auto, 100%;
background-repeat: no-repeat;

}



.s-two select{

    padding: 10px 20px 10px 10px;
    
    border-radius: 15px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance: none;
    background-color: var(--primaryColor);
    border: 1px solid #f9f9f9;

font-size: 16px;

background-image:  url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
background-position: right 10px top 50%, 0, 0;;
background-position: right 10px top 50%, 0,  0;
background-size: 12px auto, 100%;

background-repeat: no-repeat;
    
    
    }


    .f-one input{

        border: none;

        background: transparent;

        font-size:  30px;

        text-align: right;

        outline: none;

    }


    .s-two input{

        border: none;

        background: transparent;

        font-size:  30px;

        text-align: right;

        outline: none;


    }


    .rate{


        color: var(--primaryColor);
        font-size: 14px;

        font-weight:bold;
        padding: 0 10px;

    }



    @media(max-width:600px){



        .container{


            display: grid;
        
            grid-template-columns: repeat(2, 1fr);
        
         
            align-items: center;
        
            justify-content: space-between;
        
            padding: 40px 0;
            
        
        }



.currency input{

width: 300px;

}

p{

  font-size: 11px;
    text-transform: uppercase;

}

h3{

    display: none;
}


    }